body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    min-width: 320px;
}

header {
    width: 100%;
    background: url("./../img/header_bg.jpg") no-repeat center bottom/ cover;
    h1 {
        text-align: left;
        text-transform: uppercase;
        line-height: 0.8;
        font-weight: 900;
        position: absolute;
        margin: 0;
        padding: 0;
        color: #265D35;
    }
}

main {
    width: 100%;
    background-color: #265D35;
    color: #FAE9E9;
    display: grid;
    justify-content: center;
    section {
        h2 {
            font-weight: 600;
            color: #FAE9E9;
            line-height: 0.9;
            text-transform: uppercase;
        }
        p {
            color: #FAE9E0;
            margin: 0;
            padding: 0;
            line-height: 1.8;
            text-align: justify;
        }
        div {
            border: 2px solid orangered;
            h2 {
                font-weight: 600;
                color: #FAE9E9;
                line-height: 0.9;
                text-transform: uppercase;
            }
            ul {
                list-style-type: disc;
                li {
                    line-height: 2;
                    color: #FAE9E9;
                }
            }
        }
        div.img {
            border-radius: 45px;
            background: transparent;
            overflow: hidden;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5),
                        0 -2px 5px rgba(0, 0, 0, 0.2);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                border-radius: 45px;
            }
        }
    }
}

footer {
    background: url("./../img/footer_bg.jpg") no-repeat center / cover;
    display: grid;
    width: 100%;
    div.social-holder {
        display: grid;
        justify-content: center;
        align-content: center;
        div.social {
            border-radius: 50%;
            background: transparent;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media (min-width: 1440px) {
    header {
        height: 65vh;
        h1 {
            top: 2.5vh;
            left: 73vw;
            font-size: 118px;
        }
    }
    main {
        font-size: 32px;
        grid-template-columns: 1250px;
        box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 0.15),
        inset 0 10px 20px rgba(0, 0, 0, 0.1);
        section {
            margin: 40px 0;
            h2 {
                font-size: 64px;
            }
        }
    }
    footer {
        height: 340px;
        div.social-holder {
            margin: 230px 0 0 0;
            height: 70px;
            grid-template-columns: repeat(3, 60px);
            gap: 50px;
            div.social {
                height: 60px;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
            }
        }
    }
}

@media  (min-width: 280px) and (max-width: 600px) {
    header {
        height: 25vh;
        h1 {
            top: 2.5vh;
            right: 2.5vw;
            font-size: 28px;
        }
    }
    main {
        font-size: 16px;
        grid-template-columns: 80vw;
        box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 0.15),
                    inset 0 10px 20px rgba(0, 0, 0, 0.1);
        section {
            margin: 40px 0;
            h2 {
                font-size: 30px;
                line-height: 0.8;
            }
            p {
                font-size: 20px;
                line-height: 2;
            }
            div {
                margin: 30px 0 0 20px;
                h2 {
                    margin: 35px 0 15px 20px;
                }
                ul {
                    margin: 10px 0 0 25px;
                    li {
                        line-height: 2;
                        font-size: 20px;
                        padding: 5px 0;
                    }
                }
            }
            div.img {
                margin: 0;
                img {

                }
            }
        }
    }
    footer {
        height: 20vh;
        div.social-holder {
            margin: 10vh 0 0 0;
            height: 30px;
            grid-template-columns: repeat(3, 40px);
            gap: 20px;
            div.social {
                height: 40px;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
            }
        }
    }
}