body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    min-width: 320px;
}

header {
    width: 100%;
    background: url("./../img/header_bg.jpg") no-repeat center bottom/ cover;
    h1 {
        text-align: left;
        text-transform: uppercase;
        line-height: 0.8;
        font-weight: 900;
        position: absolute;
        margin: 0;
        padding: 0;
        color: #265D35;
    }
}

main {
    width: 100%;
    background-color: #265D35;
    color: #FAE9E9;
    display: grid;
    justify-content: center;
    section {
        margin: 0;
        padding: 0;
        h2 {
            font-weight: 600;
            color: #FAE9E9;
            line-height: 0.9;
            text-transform: uppercase;
        }
        p {
            color: #FAE9E0;
            margin: 0;
            padding: 0;
            line-height: 1.8;
            text-align: justify;
        }
        div {
            h2 {
                font-weight: 600;
                color: #FAE9E9;
                line-height: 0.9;
                text-transform: uppercase;
            }
            ul {
                list-style-type: disc;
                li {
                    line-height: 2;
                    color: #FAE9E9;
                }
            }
        }
        div.img {
            border-radius: 45px;
            background: transparent;
            overflow: hidden;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5),
            0 -2px 5px rgba(0, 0, 0, 0.2);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                border-radius: 45px;
            }
        }
    }
}

footer {
    background: url("./../img/footer_bg.jpg") no-repeat center / cover;
    display: grid;
    width: 100%;
    div.social-holder {
        display: grid;
        justify-content: center;
        align-content: center;
        div.social {
            border-radius: 50%;
            background: transparent;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
