header {
    height: 65vh;
    h1 {
        top: 2.5vh;
        left: 73vw;
        font-size: 118px;
    }
}
main {
    font-size: 32px;
    grid-template-columns: 1250px;
    box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 0.15),
    inset 0 10px 20px rgba(0, 0, 0, 0.1);
    section {
        margin: 40px 0;
        h2 {
            font-size: 64px;
        }
        ul {
            li {
                font-size: 32px;
            }
        }
        ol {
            li {
                font-size: 32px;
            }
        }
    }
}
footer {
    height: 340px;
    div.social-holder {
        margin: 230px 0 0 0;
        height: 70px;
        grid-template-columns: repeat(3, 60px);
        gap: 50px;
        div.social {
            height: 60px;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        }
    }
}