#co-founders {
    display: grid;
    align-items: center;
    margin: 0;
    padding: 0;
}

@media (min-width: 1260px) {
    #co-founders {
        grid-template-columns: 4fr 3fr;
        div {
            h2 {
                margin: 0 0 0 35px;
            }
            ul {
                li {
                    margin: 35px 0 0 35px;
                }
            }
        }
    }
}