#plan {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 0;
    gap: 20px;
    div {
        h2 {
            font-weight: 600;
            color: #FAE9E9;
            line-height: 0.9;
            font-size: 64px;
        }
        ol {
            li {
                margin: 23px 78px 23px 0;
                color: #FAE9E9;
            }
        }
    }
    div.img {
        border-radius: 45px;
        background: white;
        overflow: hidden;
        img {
            width: 100%; /* Задаем ширину изображения равной ширине родительского элемента */
            height: 100%; /* Задаем высоту изображения равной высоте родительского элемента */
            object-fit: contain; /* Масштабируем изображение, чтобы оно полностью помещалось в контейнер */
            display: block; /* Убираем лишние пробелы под изображением */
            border-radius: 45px;
        }
    }
}

@media (min-width: 1440px) {
    #plan {
        grid-template-columns: 4fr 3fr;
        gap: 30px;
    }
}