#plan {
    display: grid;
    align-items: center;
}

@media (min-width: 1440px) {
    #plan {
        grid-template-columns: 3fr 4fr;
        div {
            h2 {
                margin: 0 0 0 84px;
            }
        }
        ol {
            li {
                margin: 23px 0 23px 84px;
            }
        }
    }
}

@media (min-width: 280px) and (max-width: 600px) {
    #plan {
        grid-template-columns: 1fr;
        div {
            h2 {
                margin: 0;
            }
        }
        ol {
            li {
                font-size: 20px;
                margin: 20px 0 20px 15px;
            }
        }
    }
}