#target {
    display: grid;
    align-items: center;
}

@media (min-width: 1260px) {
    #target {
        grid-template-columns: 3fr 4fr;
        gap: 30px;
        div {
            h2 {
                margin: 0 0 0 35px;
            }
            ul {
                margin: 35px 0 0 35px;
            }
        }
    }
}

@media (max-width: 600px) {
    #target {
        grid-template-columns: 1fr;
        justify-items: center;
        div {
            h2 {

            }
            ul {
                li {

                }
            }
        }
    }
}